
    .navbar {
        background-color: #1f2937;
        overflow: hidden;
    }

    .navbar a{
        float: left;
        color: blue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 22px;
    }